{% load timer static %}
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'django_timer/css/timer.css' %}">
        <style>
            main {
                width: 400px;
                margin: auto;
            }
            a {
                color: #337ab4;
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <main>
            {% render_timer timer %}
            <p>
                <a href="{% url 'index' %}">Zur Übersicht</a>
            </p>
        </main>
        <script src="{% static 'django_timer/js/timer.js' %}"></script>
    </body>
</html>
