<p>
    {{ timer }}; static duration: {{ timer.duration }}
</p>

<p>
    Counter: <span id="timer"></span>
</p>
<script>
    function timer(){
        var initial = {{ timer.duration.total_seconds }} * 1000
        var start = new Date(Date.now() - initial)

        var timer = document.getElementById('timer')

        function pad(number){
            return ('00' + number).slice(-2)
        }

        function printDuration(milliseconds){
            var seconds = Math.floor(milliseconds/1000)
            var minutes = Math.floor(seconds/60)
            var hours = Math.floor(minutes/60)
            seconds = seconds % 60
            minutes = minutes % 60
            if (hours) {
                return hours + ':' + pad(minutes) + ':' + pad(seconds)
            }
            return pad(minutes) + ':' + pad(seconds)
        }

        function show(){
            setInterval(function() {
                var now = new Date()
                timer.innerHTML = printDuration(now - start)
            }, 1000)
        }

        return show()
    }
    timer()
</script>